



*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}


body {
    font-family: 'Arapey', serif;
    font-size: 16px;
    background-color: #FDFDFD;
    
}

/*     Container    */
.container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}


/*     Header    */
.header {
    margin: 15px 0;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 100%;
    max-width: 114px;
    height: auto;
}
.header__nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 940px;
}
.header__nav__link {
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-family: 'Arapey';
}
.header__nav__link--activ {
    color: #67BA30;
}
.submit_btn {
    position: relative;
    width: 6.8rem;
    height: 2.5rem;
    font-size: 1rem;
    padding-left: 21px;
    color: white;
    border: none;
    border-radius: 0.3rem;
    background: linear-gradient(180deg, rgba(8,217,12,1) 37%, rgba(78,154,27,1) 100%);
}
.submit_btn:before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
    width: 20px;
    height: 20px;
    background: url(img/Login.svg) no-repeat;
}
.submit_btn:hover {
    background: linear-gradient(180deg, rgb(10, 181, 13) 37%, rgb(59, 123, 17) 100%);
}



/*     Inner    */
.wrapper {
    position: relative;
    height: 100vh;
}
.wrapper__bg{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    min-width: 627px;
    overflow: hidden;
    /* height: auto; */
    object-fit: cover;
    object-position: center;
}
.wrapper__inner {
    padding-top: 125px;
    min-width: 480px;
    max-width: 490px;
}
.wrapper__title {
    font-size: 47px;
    margin-bottom: 20px;
}
.wrapper__sut-title {
    font-size: 27px;
    font-weight: 200;
    margin-bottom: 20px;
}
.serch-form {
    display: flex;
    margin-bottom: 20px;
}
.serch__input {
    padding: 1.25rem 1.85rem;
    border-radius: 5px;
    border: 1px solid #67BA30;
    font-size: 1.06rem;
    width: 100%;
}
.search__btn {
    position: relative;
    height: 3.75rem;
    width: 8.5rem;
    padding-left: 40px;
}
.search__btn:before {
    content: "";
    position: absolute;
    display: block;
    top: 17px;
    left: 20px;
    z-index: 100;
    width: 1.5rem;
    height: 1.5rem;
    background: url(img/2561381_search_icon.svg);
    background-repeat: no-repeat;
}
.search__recently {
    font-size: 1.23rem;
    max-width: 37.5rem;
    margin-bottom: 15px;
}
.search__link {
    color: black;
    font-weight: italic;
    margin-right: 5px;
}
.search__link:hover {
    color: rgb(10, 181, 13);
}
.search__amount {
    font-size: 1.23rem;
}


/*     Section Wrapper   */
.section__wrap__title {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}
.section__title {
    font-size: 1.75rem;
    font-weight: bold;
}
.section__btn {
    color: #67BA30;
    font-size: 0.93rem;
    border: 1px solid #67BA30;
    border-radius: 5px;
    padding: 1.06rem 1.75rem;
    background: none;
}
.section__btn:hover {
    box-shadow: 0px 0px 5px rgb(59, 123, 17);
    transition: 0.2s linear;
}


/*     Slider   */
.slider {
    margin-bottom: 10px;
}
.slider__card {
    position: relative;
    overflow: hidden;
    color: white;
    min-width: 250px;
    max-height: 320px;
    border-radius: 6px;
    margin: 5px
}
.slider__card__inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 320px;
    max-width: 250px;
    padding: 20px;
}
.slider__card__bg {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: auto;
    z-index: -2;
}
.slider__card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(34, 34, 34, 0) 14.37%, rgba(11, 11, 11, 0.81) 73.44%);
}
.slider__card__title {
    font-size: 1.56rem;
    margin-bottom: 10px;
}
.slider__card__sub-title {
    font-size: 0.87rem;
    font-weight: 100;
    margin-bottom: 10px;
}
.slider__card__map-link {
    position: relative;
    font-size: 1rem;
    font-weight: 100;
    color: white;
    text-decoration: none;
    margin: 0 0 10px 20px;
}
.slider__card__map-link::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -20px;
    width: 15px;
    height: 15px;
    z-index: 1;
    background: url(img/Vector.svg);
    background-repeat: no-repeat;
}



/*     Cards-section    */
.cards-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
    max-width: 39.37em;
    min-width: 25em;
    height: 19.68em;
    padding: 2.5em;
    margin: 5px;
    background: #FFFFFF;
    box-shadow: 0px 3px 26px rgba(0, 0, 0, 0.07);
    border: 1px solid white;
    border-radius: 5px;
}
.card__inner:hover {
    border: 1px solid #67BA30;
    transition: 0.2s linear;
}
.card__title {
    position: relative;
    font-size: 1.93em;
    font-weight: bold;
    margin-left: 4em;
}
.oncology-icon:before {
    content: "";
    position: absolute;
    display: block;
    width: 1.87em;
    height: 2.37em;
    left: -3em;
    background: url(img/oncology.svg) no-repeat;
}
.check-icon:before {
    content: "";
    position: absolute;
    display: block;
    width: 1.87em;
    height: 2.37em;
    left: -3em;
    background: url(img/Check_Up.svg) no-repeat;
}
.beauty-icon:before {
    content: "";
    position: absolute;
    display: block;
    width: 1.87em;
    height: 2.37em;
    left: -3em;
    background: url(img/beauty.svg) no-repeat;
}
.med-of-future:before {
    content: "";
    position: absolute;
    display: block;
    width: 2.62em; 
    height: 2.12em;
    left: -4em;
    background: url(img/med_of_the_future.svg) no-repeat;
}
.card__wrapper {
    display: flex;
}
.card__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.card__item {
    font-size: 1.12em;
    margin: 5px 0;
}
.card__item:hover {
    cursor: pointer;
    color: #67BA30;
    transition: 0.1s linear;
}
.card__btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #67BA30;
    padding: 1.25em 1em;
    width: 100%;
    border: 1px solid #E0E0E0;
    background: #FFFFFF;
    box-shadow: 0px 3px 26px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
}
.card__btn:hover {
    background-color: #F3F8EF;
    transition: 0.2s linear;
}



/*     Feedback-section     */
.feedback__wrap-title {
    text-align: center;
    margin: 2rem 0;
}
.feedback__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    max-width: 100vw;
    
}
.feedback__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.5rem;
    max-width: 25.5rem;
    min-width: 20rem;
    width: 25%;
    background: #FFFFFF;
    box-shadow: 0px 3px 26px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
}
.feedback__card__wrap-title {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}
.feedback__card__photo {
    max-width: 3.1rem;
    max-height: 3.1rem;
}
.feedback__card__title {
    font-size: 1.25rem;
    margin-left: 1rem;
}
.feedback__card__title:hover {
    color: #67BA30;
}
.feedback__card__wrap-name {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}
.feedback__card__text {
    font-size: 1rem;
    margin-bottom: 1rem;
}
.feedback__card__btn {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 1.06rem;
    color: #67BA30;
    padding: 1.25rem 0;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
}
.feedback__card__btn:hover {
    color: white;
    font-size: 1.08rem;
    background: linear-gradient(180deg, #67BA30 0.69%, #458E15 112.84%);
    box-shadow: 0px 3px 4px rgba(63, 123, 23, 0.224);
    border-radius: 5px;
    transition: 0.2s linear;
}

/*  Slick-btn   */
.slick-prev,
.slick-next {
    cursor: pointer;
    background: transparent;
    padding: 0;
    border: none;
    z-index: 5;
}
.slick-prev {
    position: absolute;
    left: -1rem;
    top: 50%;
}
.slick-next {
    position: absolute;
    right: -1rem;
    top: 50%;
}





/*     Footer    */
.footer {
    background-color: #2F2F2F;
}
.footer__inner {
    display: flex;
    justify-content: space-between;
    padding: 2.7rem 0;
}
.footer__logo {
    width: 100%;
    height: auto;
    max-width: 123px;
}
.footer__nav__inner {
    display: flex;
    justify-content: space-between;
    max-width: 45.5rem;
    margin: 0 auto 1rem;
}
.footer_nav__link, 
.copyright {
    color: #A7A7A7;
    font-size: 0.8rem;
    margin-right: 1rem;
    text-decoration: none;
}
.copyright--short-screen {
    display: none;
}
.footer_nav__link:hover {
    color: #fff;
}
.footer__social {
    display: flex;
    justify-content: space-between;
}
.social__link {
    margin-left: 1rem;
}
.social__link__icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    opacity: 0.5;
}
.social__link__icon:hover {
    opacity: 1;
}




@media (max-width: 1021px){
    .footer__inner {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 1rem;
    }
    .footer__logo {
        order: 3;
        margin: 0 auto;
        margin-bottom: 1rem;
    }
    .footer__nav__inner {
        order: 1;
    }
    .footer__social {
        order: 2;
        margin: 1rem auto;
        min-width: 30rem;
    }
    .copyright {
        order: 4;
        margin: 0 auto;
    }
    .copyright--large-screen {
        display: none;
    }
    .copyright--short-screen {
        display: block;
        margin: 0 auto;
    }
}


@media (max-width: 681px) {
    .footer__inner {
        width: 100%;
    }
    .footer__nav__inner {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer_nav__link {
        font-size: 0.93rem;
        line-height: 2rem;
    }
    .footer__social {
        justify-content: center;
        margin: 1rem 0;
        min-width: 100%;
    }
}
@media (min-width: 867px) {
    .section__title--hidden {
        display: none;
    }
    .section__btn--hiden {
        display: none;
    }
}
@media (max-width: 866px){
    .section__inner {
        display: flex;
        flex-direction: column;
    }
    .section__wrap__title{
        display: none;
    }
    .section__title--hidden {
        display: block;
        order: 1;
        margin: 1rem auto 1rem;
    }
    .cards-wrap,
    .slider {
        order: 2;
    }
    .section__btn--hiden {
        display: block;
        order: 3;
        margin: 1rem auto 2rem;
    }

}

@media (max-width: 483px) {
    .section_wrap {
        font-size: 0.8rem;
    }
    .feedback__card {
        line-height: 1rem;
        padding: 2rem;
        max-width: 15rem;
    }
}

























