@import "media.css";



*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}


body {
    font-family: 'Arapey', serif;
    font-size: 16px;
    background-color: #FDFDFD;
    
}

/*     Container    */
.container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}


/*     Header    */
.header {
    margin: 15px 0;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 100%;
    max-width: 114px;
    height: auto;
}
.header__nav__list {
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;
    width: 100%;
    max-width: 940px;
}
.header__nav__list li {
    list-style: none;
    margin-left: 1rem;
}
.header__nav__link {
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-family: 'Arapey';
    white-space: nowrap;
}
.header__nav__link:hover {
    color: #67BA30;
}
.login_btn {
    position: relative;
    padding: 0.75em 1.2em 0.75em 1.5em;
    color: white;
    font-size: 1.06rem;
    font-weight: 400;
    border: none;
    border-radius: 0.3rem;
    background: linear-gradient(180deg, rgba(8,217,12,1) 37%, rgba(78,154,27,1) 100%);
}
.login_btn:hover {
    background: linear-gradient(180deg, rgb(10, 181, 13) 37%, rgb(59, 123, 17) 100%);
}
.login_btn-icon {
    position: absolute;
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    left: 0.4em;
    top: 0.9em;
}
.header__burger {
    display: none;
}


/*     Inner    */
.wrapper {
    position: relative;
    height: 100vh;
}
.wrapper__bg{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    /* min-width: 627px; */
    overflow: hidden;
    /* height: auto; */
    object-fit: cover;
    object-position: center;
}
.wrapper__inner {
    padding-top: 125px;
    min-width: 315px;
    max-width: 490px;
}
.wrapper__title {
    font-size: 47px;
    margin-bottom: 20px;
}
.wrapper__sut-title {
    font-size: 27px;
    font-weight: 200;
    margin-bottom: 20px;
}
.serch-form {
    display: flex;
    margin-bottom: 20px;
}
.serch__input {
    padding: 1.25rem 1.85rem;
    border-radius: 5px;
    border: 1px solid #67BA30;
    font-size: 1.06rem;
    width: 100%;
}
.submit_btn {
    position: relative;
    width: 8em;
    font-size: 1rem;
    padding-left: 21px;
    color: white;
    border: none;
    border-radius: 0.3rem;
    background: linear-gradient(180deg, rgba(8,217,12,1) 37%, rgba(78,154,27,1) 100%);
}
.submit_btn:hover {
    background: linear-gradient(180deg, rgb(10, 181, 13) 37%, rgb(59, 123, 17) 100%);
}
.submit_btn-icon {
    position: absolute;
    left: 0.5em;
    top: 1.2em;
    width: 1.5em;
    height: 1.5em;
}
.search__recently {
    font-size: 1.23rem;
    max-width: 37.5rem;
    margin-bottom: 15px;
}
.search__link {
    color: black;
    font-weight: italic;
    margin-right: 5px;
}
.search__link:hover {
    color: rgb(10, 181, 13);
}
.search__amount {
    font-size: 1.23rem;
}


/*     Section Wrapper   */
.section__wrap__title {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}
.section__title {
    font-size: 1.75rem;
    font-weight: bold;
}
.section__btn {
    color: #67BA30;
    font-size: 0.93rem;
    border: 1px solid #67BA30;
    border-radius: 5px;
    padding: 1.06rem 1.75rem;
    background: none;
}
.section__btn:hover {
    box-shadow: 0px 0px 5px rgb(59, 123, 17);
    transition: 0.2s linear;
}


/*     Slider   */
.slider {
    margin-bottom: 10px;
}
.slider__card {
    position: relative;
    overflow: hidden;
    color: white;
    min-width: 250px;
    max-height: 320px;
    border-radius: 6px;
    margin: 5px
}
.slider__card__inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 320px;
    max-width: 250px;
    padding: 20px;
}
.slider__card__bg {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: auto;
    z-index: -2;
}
.slider__card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(34, 34, 34, 0) 14.37%, rgba(11, 11, 11, 0.81) 73.44%);
}
.slider__card__title {
    font-size: 1.56rem;
    margin-bottom: 10px;
}
.slider__card__sub-title {
    font-size: 0.87rem;
    font-weight: 100;
    margin-bottom: 10px;
}
.slider__card__map-link {
    position: relative;
    font-size: 1rem;
    font-weight: 100;
    color: white;
    text-decoration: none;
    margin: 0 0 10px 20px;
}
.slider__card__map-link::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -20px;
    width: 15px;
    height: 15px;
    z-index: 1;
    background: url(img/Vector.svg);
    background-repeat: no-repeat;
}



/*     Cards-section    */
.cards-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    max-width: 39.37em;
    min-width: 25em;
    /* height: 19.68em; */
    height: 100%;
    padding: 2.5em;
    margin: 5px;
    background: #FFFFFF;
    box-shadow: 0px 3px 26px rgba(0, 0, 0, 0.07);
    border: 1px solid white;
    border-radius: 5px;
}
.card__inner:hover {
    border: 1px solid #67BA30;
    transition: 0.2s linear;
}
.card__title {
    position: relative;
    font-size: 1.93em;
    font-weight: bold;
    margin-left: 4em;
    margin-bottom: 1em;
}
.card__title__icon {
    position: absolute;
    display: block;
    width: 2em;
    height: 1.5em;
    left: -3em;
}
.card__wrapper {
    display: flex;
}
.card__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.card__item {
    font-size: 1.12em;
    margin: 5px 0;
}
.card__item:hover {
    cursor: pointer;
    color: #67BA30;
    transition: 0.1s linear;
}
.card__btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #67BA30;
    padding: 1.25em 1em;
    width: 100%;
    border: 1px solid #E0E0E0;
    background: #FFFFFF;
    box-shadow: 0px 3px 26px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
}
.card__btn:hover {
    background-color: #F3F8EF;
    transition: 0.2s linear;
}



/*     Feedback-section     */
.feedback__wrap-title {
    text-align: center;
    margin: 2rem 0;
}
.feedback__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    max-width: 100vw;
    
}
.feedback__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.5rem;
    max-width: 25.5rem;
    min-width: 20rem;
    width: 25%;
    background: #FFFFFF;
    box-shadow: 0px 3px 26px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
}
.feedback__card__wrap-title {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}
.feedback__card__photo {
    max-width: 3.1rem;
    max-height: 3.1rem;
}
.feedback__card__title {
    font-size: 1.25rem;
    margin-left: 1rem;
}
.feedback__card__title:hover {
    color: #67BA30;
}
.feedback__card__wrap-name {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}
.feedback__card__text {
    font-size: 1rem;
    margin-bottom: 1rem;
}
.feedback__card__btn {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 1.06rem;
    color: #67BA30;
    padding: 1.25rem 0;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
}
.feedback__card__btn:hover {
    color: white;
    font-size: 1.08rem;
    background: linear-gradient(180deg, #67BA30 0.69%, #458E15 112.84%);
    box-shadow: 0px 3px 4px rgba(63, 123, 23, 0.224);
    border-radius: 5px;
    transition: 0.2s linear;
}

/*  Slick-btn   */
.slick-prev,
.slick-next {
    cursor: pointer;
    background: transparent;
    padding: 0;
    border: none;
    z-index: 5;
}
.slick-prev {
    position: absolute;
    left: -1rem;
    top: 50%;
}
.slick-next {
    position: absolute;
    right: -1rem;
    top: 50%;
}



/*     Footer    */
.footer {
    background-color: #2F2F2F;
}
.footer__inner {
    display: flex;
    justify-content: space-between;
    padding: 2.7rem 0;
}
.footer__logo {
    width: 100%;
    height: auto;
    max-width: 123px;
}
.footer__nav__inner {
    display: flex;
    justify-content: space-between;
    max-width: 45.5rem;
    margin: 0 auto 1rem;
}
.footer_nav__link, 
.copyright {
    color: #A7A7A7;
    font-size: 0.8rem;
    margin-right: 1rem;
    text-decoration: none;
}
.copyright--short-screen {
    display: none;
}
.footer_nav__link:hover {
    color: #fff;
}
.footer__social {
    display: flex;
    justify-content: space-between;
}
.social__link {
    margin-left: 1rem;
}
.social__link__icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    opacity: 0.5;
}
.social__link__icon:hover {
    opacity: 1;
}






/***  Treatment page  ***/
.sub-header {
    background-color: #F3F8EF;
    margin-bottom: 30px;
}
.sub-header__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.sub-header-title {
    font-size: 18px;
    color: #4D4D4D;
}
.sub-header__serch-form {
    display: flex;
}
.sub-header__serch-input {
    max-width: 350px;
    padding: 12px 25px;
    font-size: 15px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #67BA30;
}
.sub-header__submit-btn {
    font-size: 16px;
    line-height: 16px;
    border-radius: 0 5px 5px 0;
    width: 100px;
}
.sub-header__submit-btn-icon {
    position: absolute;
    left: 1em;
    top: 0.8em;
    width: 1em;
    height: 1em;
}
.sub-header__search-recently {
    font-size: 13px;
    line-height: 20.54px;
    margin-left: 35px;
}

.treatmen__inner{
    display: grid;
    grid-template-columns:  30% 1fr;
    grid-template-areas: "sidebar" "content";
}
.sidebar__wrapp {
    grid-area: "sidebar";
}
.treatmen-wrap {
    display: flex;
    flex-direction: column;
    grid-area: "content";
    padding: 10px 30px;
}

.sidebar-title {
    font-size: 42px;
    color: #3A3A3A;
    margin-bottom: 40px;
}
.sidebar-form {
    margin-bottom: 20px;
    max-width: 330px;
    position: relative;
}

.sidebar-reserch-btn {
    position: absolute;
    cursor: pointer;
    border: none;
    width: 40px;
    height: 100%;
    top: 0;
    right: 2%;
    background: url(/img/sidebar__reserch-icon.svg) center no-repeat;
}
.sidebar-reserch {
    padding: 10px 15px;
    border: 1px solid #D6D6D6;
    border-radius: 4px;
    width: 100%;
}
.sidebar__list {
    margin: 30px 0 !important;
}
.sidebar__list li {
    list-style: none;
    margin-bottom: 10px;
}
.sidebar__item {
    text-decoration: none;
    font-size: 17px;
    color: #3A3A3A;
}
.sidebar__item--active {
    color: #67BA30;
    position: relative;
}
.sidebar__item--active:before {
    position: absolute;
    content: "";
    width: 23px;
    height: 23px;
    top: 0;
    left: -35px;
    background: url(/img/sidebar__items-icon.svg) no-repeat;
}
.sidebar__discount {
    max-width: 330px;
    max-height: 257px;
    border: 1px solid #D6D6D6;
    border-radius: 5px;
    margin-bottom: 30px;
}
.sidebar__discount-picture {
    position: relative;
    overflow: hidden;
    padding-bottom: 40%;
}
.sidebar__discount-picture img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sidebar__discount-text {
    color: #3A3A3A;
    font-size: 18px;
    line-height: 24px;
    padding: 18px 30px;
}
.sidebar__articl-title {
    font-size: 28px;
    color: black;
    margin-bottom: 30px;
}
.sidebar__articl-list {
    margin-bottom: 20px !important;
}
.sidebar__articl-items {
    list-style: none;
    margin-bottom: 30px;
}
.sidebar__articl-item {
    position: relative;
    text-decoration: none;
    font-size: 20px;
    color: #3A3A3A;
}
.sidebar__articl-item:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    top: 1px;
    left: -33px;
    background: url(/img/sidebar__articl-icon.svg) no-repeat;
}

























